APP_NAME='PUCPR Auth Server'
ENVIRONMENT='development'
API_PREFIX='/api'

DATABASE_URL='postgresql+psycopg://postgres:postgres@localhost:5432/pucbr_backend'
DATABASE_SCHEMA='public'
DATABASE_ECHO=false
AUTO_CREATE_SCHEMA=true
SEED_DATA=true

JWT_SECRET='replace-this-secret-in-production-with-at-least-32-characters'
JWT_ALGORITHM='HS256'
JWT_ISSUER='PUCPR AuthServer'
JWT_USER_CLAIM='user'
ADMIN_TOKEN_EXPIRE_HOURS=1
USER_TOKEN_EXPIRE_HOURS=24

BOOTSTRAP_ADMIN_EMAIL='admin@admin.com'
BOOTSTRAP_ADMIN_PASSWORD='admin'
BOOTSTRAP_ADMIN_NAME='Auth Server Administrator'
