.idea/
.env
.env.*
!.env.example

.venv/
venv/

__pycache__/
*.py[cod]

.pytest_cache/
.coverage
htmlcov/

.mypy_cache/
.ruff_cache/
.hypothesis/
.tox/

build/
dist/
*.egg-info/

*.log

storage/*
!/.gitkeep

docs/requisitos/*
!docs/requisitos/.gitkeep

docs/planejamentos/*
!docs/planejamentos/.gitkeep
